<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- http://getbootstrap.com/docs/4.5/ -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <link href="/static/styles.css" rel="stylesheet">
        <!-- http://getbootstrap.com/docs/4.5/ -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <style>
 .navbar .navbar-nav .nav-link {
    color: #FFFFFF;
    font-size: 1.5em;
}
.navbar .navbar-nav .nav-link:hover{
    color: #808080;
}
@media only screen and (min-width: 960px) {
  .navbar {
    flex-direction: column;
  }
  .navbar .navbar-nav {
    border-bottom: 2px solid #000;
  }
  .navbar .nav-item {
    padding: 0.5em 1em;
  }
}
.navbar .navbar-nav {
  margin-top: 0.5em;
  border-top: 2px solid #000;
}
p {
  font-size: 1.5em;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h2 {
  padding: 10px;
  border: 5px solid gray;
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

    </style>
 </head>


<nav class="navbar navbar-expand-lg navbar-light"  style="background-color: #48546c;">
    <a class="navbar-brand" href="#"><img src="/static/logo_outline.png" width="400"></a>
    <p style="color: #bcbcc3" ;>Rapid Evaluation of Experimental RNA Selection/Evolution</p>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbarToggler13"
        aria-controls="myNavbarToggler13" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="myNavbarToggler13">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/choose_rounds">Analyze</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/help">Help</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/tutorial">Tutorial</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/resources">Other Resources</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
        </ul>
    </div>
</nav>

<body>
<script>
        $(document).ready(function(){
          $('[data-toggle="tooltip"]').tooltip();
        });
        </script>
<div >

    <div >
        <h1 align = "center">Step 5: Preprocess Data</h1><br>
        <p align = "center" STYLE="font-size:15px">Run Times. {{times}}

        <h2 >Step 5a: Download (up to 10,000) high quality sequences (identify region of interest and need for the reverse complement)


        <a STYLE="font-size:20px" href="" data-toggle="tooltip" title="Download .CSV files containing your high quality sequences and their counts">ⓘ</a>

         {% for round in rounds %}
        <form STYLE= "font-size:15px" class="w3-row" style="text-align:left" action="/download_qual_pre_{{round}}" method="post">
            <br>
            <button STYLE= "font-size:15px" class="btn btn-primary" type="submit" class = "smaller" >Download High Quality Sequences (Round {{round+1}})</button>
        </form>
        {% endfor %}
        </h2>
        <form class="w3-row" style="text-align:left" name="myForm" action="/preview" method="post" onsubmit="">
            <br>

            <h2 align="left" >STEP 5b: Trimmer
            <a STYLE="font-size:20px" href="" data-toggle="tooltip" title="Option 1) enter the start and end positions of the region of interest, likely exclusing constant regions. Option 2) enter the constant adapter sequences and REVERSE will trim sequences to the in region between. If the sequences are from the reverse read, enter the reverse complement of the adapter sequences.">ⓘ</a>

            <br>
            <img src="/static/trimmer.png" alt="User Image" width="900">
            <br>
            <!--
            <div STYLE="font-size:15px" class="tooltip">?
                <span class="tooltiptext">Enter the first and last positions of the sequence of interest. If unsure, enter start = 1, end = 1000, since your sequences are shorter than 1000 nucleotides long. This function removes sequencing handles, barcodes, and constant regions (if any). </span>
            </div>
            -->
                <label><input type="radio" style="height:30px; width:30px"; name="position_seq" value="pos"></label style="font-size: 25px;"> By Position
                <input STYLE="font-size:20px" autofocus name="start_stats" align="center" autocomplete="off" placeholder="Start Position" type="numeric" min="1" max="10000">
                <input STYLE="font-size:20px" autofocus name="end_stats" align="center" autocomplete="off" placeholder="End Position" type="numeric" min="1" max="10000">


                <br>
                <br>
                <br>
                <label><input type="radio" style="height:30px; width:30px"; name="position_seq" value="seq"></label style="font-size: 25px;"> By Sequence
                <input STYLE="font-size:20px" autofocus name="start_seq" align="center" autocomplete="off" placeholder="Start Seq" >
                <input STYLE="font-size:20px" autofocus name="end_seq" align="center" autocomplete="off" placeholder="End Seq">
            </h2>

            <br>
            <h2 align="left" >STEP 5c: Reverse Complementer

            <br>
            <img src="/static/rc.png" alt="User Image" width="600">
            <br>
            <!--
            <div STYLE="font-size:15px" class="tooltip">?
            <span class="tooltiptext">View your sequences above to determine if this is needed</span>
            </div>
            -->
            <label><input type="radio" style="height:30px; width:30px"; name="rc" value="correct"><label style="font-size: 25px;"> Correct
            <label><input type="radio" style="height:30px; width:30px"; name="rc" value="convert"> Convert to the Reverse Complement

            </h2>
            <br>
            <h2 align="left" >STEP 5d: Choose a Pipeline

            <a STYLE="font-size:20px" href="" data-toggle="tooltip" title="This option determines the analysis options you are given in the following page.">ⓘ</a>

            <p STYLE= "font-size:15px" align="left">
            <img align="center" src="/static/Step1.jpg" alt="User Image" width="300">
            <br>

            <label><input type="radio" style="height:30px; width:30px"; name="options" value="option1"><label style="font-size: 25px;"> Analyze Individual Sequences
            <label><input type="radio" style="height:30px; width:30px"; name="options" value="option2"> Analyze Sequence Clusters

                <br>

            </h2>

            <br>
            <button class = "center" type="submit" >Submit</button>
             <br>
             <br>
        </form>

</div>
</div>
    </body>

</html>
