<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 0.8em;
    line-height: 0.8em;
    border-radius: 50%;
    margin-left: 6px;
    padding: 0.13em 0.2em 0.09em 0.2em;
    color: inherit;
    border: 1px solid;
    text-decoration: none;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 220px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-size: 15px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
h3 {
    /* margin: 0 auto; or use auto left/right margin instead of justify-content center */
    background-color:white;
    border-radius: 25px;
    border: 2px solid #96D1CD;
    padding: 20px;
    font-size: 1.4em;
}
</style>
<body>

<!-- Navbar -->

<div class="w3-top">
  <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
    <a href="/home" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Home</a>
    <a href="/choose_rounds" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Analyze</a>
    <a href="/help" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Help</a>
    <a href="/tutorial" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Tutorial</a>
    <a href="/resources" class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-hover-white">Other Resources</a>
    <a href="/contact" class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-hover-white">Contact</a>

  </div>
</div>
<div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
        <h2 STYLE="color:#2a7f87" class="w3-row">Analyze All Individual Sequences</h2>
        {% if num_rounds == 1 %}
        <h4>Note: Showing limited functionality because only one round was uploaded (no dynamic analysis possible)</h4>
        {% endif %}
        <br>

        <form class="w3-row" action="/filter_qual" method="post">
            <h3>Download Preprocessed Data (Quality controlled, Trimmed, Converted to the Reverse Complement if desired)
            <div STYLE="font-size:15px" class="tooltip">?
                <span class="tooltiptext">Using the parameters you entered on the previous screen, generate a .CSV file for each round of selection containing only the sequences (and their number of counts) with quality scores that exceeded the threshold, which are trimmed to the inputted length. If you selected the reverse complement option, these sequences will be reverse complements.</span>
            </div>
            <br>
            <button class="btn btn-primary" type="submit">Analyze</button>
            </h3>

        </form>

        <br>
        <form class="w3-row" action="/selection_statistics" method="post">
            <h3>Selection Statistics
            <div STYLE="font-size:20px" class="tooltip">?
                <span class="tooltiptext">Generate a table containing the total number and fraction of unique and high quality sequences.</span>
            </div>
            <br>
            <button class="btn btn-primary" type="submit">Analyze</button>
            </h3>

        </form>


        <br>
        <form class="w3-row" action="/most_abundant" method="post">
            <h3>Sequence Finder
            <div STYLE="font-size:20px" class="tooltip">?
                <span class="tooltiptext">Identify the most common sequences in the final round of your selection. Here, is the number of the most abundant sequences you are interested in.</span>
            </div>

            <div class="form-group">
                <input autocomplete="off" autofocus name="most_abundant" placeholder="Number of Sequences" type="numeric" min="1" max="10000">
            </div>
            <br>
            <button class="btn btn-primary" type="submit">Analyze</button>
            </h3>
        </form>


        {% if num_rounds > 1 %}
        <br>
        <form class="w3-row" action="/track_seqs" method="post">
            <h3>Sequence Tracker
            <div STYLE="font-size:15px" class="tooltip">?
                <span class="tooltiptext">Generate figures that calculate the abundance of each of the most common sequences in each round of selection. Use this to understand when enrichment occured and how much it varies by round.</span>
            </div>

            <div class="form-group">
                <input autocomplete="off" autofocus name="track_seqs" placeholder="Number of Sequences" type="numeric" min="1" max="100">
            </div>
            <br>
            <button class="btn btn-primary" type="submit">Analyze</button>
            </h3>
        </form>
        {% endif %}

        {% if num_rounds > 1 %}
        <br>
        <form class="w3-row" action="/seq_emergence" method="post">
            <h3>Sequence Similarity Finder
            <div STYLE="font-size:15px" class="tooltip">?
                <span class="tooltiptext">Generate a heatmap that compares the top sequences in each round to each of the other rounds. This gives insight into when each of the most abundant sequences was selected for.</span>
            </div>

            <div class="form-group">
                <input autocomplete="off" autofocus name="seq_emergence" placeholder="Number of Sequences" type="numeric" min="1" max="100">
                <br>
                <p>Color scheme for heat map?</p>
                <input type="radio" name="se_cmap" value="red"> Reds <br>
                <input type="radio" name="se_cmap" value="blue"> Blues <br>
                <input type="radio" name="se_cmap" value="bw"> Black+White <br>

            </div>
            <br>
            <button class="btn btn-primary" type="submit">Analyze</button>
            </h3>
        </form>
        {% endif %}

        <form class="w3-row" action="/region_emergence" method="post">
            <h3>Sequence Motif Finder
            <div STYLE="font-size:15px" class="tooltip">?
                <span class="tooltiptext">Given a string of nucleotides that you want to track in your sequences through the rounds of selection (or the emergence of a known motif through evolution), this generates a figure with the string's fraction abundance in each round. Use A, C, G, T, R (purine), Y (pyrimidine), and N (any) only</span>
            </div>


            <div class="form-group">
                <input autocomplete="off" autofocus name="region_emergence" placeholder="Region" type="text" min="1" max="100">
            </div>
            <br>
            <button class="btn btn-primary" type="submit">Analyze</button>
            </h3>
        </form>

        <form class="w3-row" action="/paths" method="post">
            <h3>Mutational Intermediates Finder
            <div STYLE="font-size:15px" class="tooltip">?
                <span class="tooltiptext">Given two sequences from the data, output all intermediates between them also in the data. Spaces are ok. Particularly useful for in vitro evolution experiments which evolve one phenotype to another. Determine the evolutionary trajectory connecting two functions. </span>
            </div>

            <div class="form-group">
                <input autocomplete="off" autofocus name="seq1" placeholder="Sequence 1" type="text" min="1" max="100">
            </div>
            <div class="form-group">
                <input autocomplete="off" autofocus name="seq2" placeholder="Sequence 2" type="text" min="1" max="100">
            </div>
            <br>
            <button class="btn btn-primary" type="submit">Analyze</button>
            </h3>
        </form>

    <!--
        <form class="w3-row" action="/structure" method="post">
            <h3>Secondary Structure Search</h3>
            <h5> Given a string in dot bracket form, identify all sequences in the last round of selection which are predicted to have that structure.</h5>
            <p>String of interest (".", "(", ")" only)?</p>
            <div class="form-group">
                <input autocomplete="off" autofocus name="ss_emergence" placeholder="Strucutre" type="text" min="1" max="100">
            </div>
            <button class="btn btn-primary" type="submit">Analyze</button>
        </form>
    -->

  </div>
</div>
    </body>
</html>